/* fv.css */

.data-container {
    width: 80%; 
    margin: 10px auto; 
    padding: 30px;
    border: 3px solid darkgreen;
    border-radius: 6px;
    background-color: white;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.1);
    
}

.data-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.item {
    margin-top: 10px;
    width: 280px;
    display: flex;
    align-items: center;
    border: 1px solid darkgreen;
    padding: 30px;
    border-radius: 2px;
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.1);
    margin-left: -15px; 
}


.item-image {
    max-width: 150px; 
    height: 100px; 
    margin-right: 15px; 
}

.item-details {
    flex: 1; /* Expand to fill remaining space */
}

.item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: 'Sans Serif';
}

.item p {
   margin-top: 12px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: left;
}

.item select {
    width: 110px; 
    height:30px;
    margin-top: 10px;
    margin-bottom: 25px;
    position:relative;
    top:10px;
    left: -0px;

}
.h2{
    color:darkgreen;
    font-family:'Franklin Gothic Medium';
    font-size: 1.5rem;
}
.item-price {
    margin-top: 10px; 
    font-size: 1.15rem !important; 
    text-align: center; 
}


.button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; 
    border-radius: 2px;
}


.counter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px; 
    margin: 0 auto; 
  }
  
  .counter-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .counter-btn:hover {
    background-color: green;
  }
  
  .count-display {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 15px;
  }
  

